<div id="sofa-filter">
<h3>Find a Sofa</h3>
</div>
<div class="grid-container">
	<h2>Welcome to Sofa-Showroom </h2>


	<% if @sofa %>
		<div class="grid">
		  <% @sofa.each_slice(3)  do |sofa_group| %>
		    <div class="row">
		    <% sofa_group.each  do |sofa_info| %>
		      <div class="col-sm-6 col-lg-4">
					<figure class="card">
						<img class="card-img" src=<%=sofa_info.avatar.url(:medium)%> alt="Sofa Image Not Found">
						    <figcaption>
						        	<p><%= sofa_info.style_family.capitalize %>, <%= sofa_info.configuration.capitalize %>, <%= sofa_info.fabric_type.capitalize %>, <%= sofa_info.fabric_style.capitalize %>, <%= sofa_info.leg_style.capitalize %></p>
					      </figcaption>
					</figure>
		      </div>
		    <% end %>
		    </div>
		  <% end %>
		</div>
	<% end %>
</div>
