<h1> Welcome to Sofa-Showroom </h1>

<% if @sofa %>
	<ul>
		<% @sofa.each do |sofa_info| %>
			<h2> <%= sofa_info.style_family %> </h2>
			<li> <%= sofa_info.configuration %> </li>
			<li> <%= sofa_info.fabric_type %> </li>
			<li> <%= sofa_info.fabric_style %> </li>
			<li> <%= sofa_info.leg_style %> </li>
		<% end %> 
	</ul>
<% end %>