<% if @sofa %>
	<ul>
		<% @sofa.each do |sofa_info| %>
			<li> <%= sofa_info.style_family %> </li>
			<li> <%= sofa_info.configuration %> </li>
			<li> <%= sofa_info.fabric_type %> </li>
			<li> <%= sofa_info.fabric_style %> </li>
			<li> <%= sofa_info.leg_style %> </li>
			<% if sofa_info.avatar.exists? %>
				<%= image_tag sofa_info.avatar.url(:medium), :class => :".img-rounded" %>
			<% end %>
		<% end %> 
	</ul>
<% end %>