<!DOCTYPE html>
<html>
  <head>
    <title>SofaShowroom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<nav>
	  		<% if logged_in? %>
	  			<div>
		          <li><%= current_user.email %></li>
		          <li><%= link_to "Log Out", session_path(current_user.id), method: :delete %></li>
	  			</div>
	  			<div>
	  				<li> <%= link_to "New Customer", new_customer_path %> </li>
	  				<li> <%= link_to "New Sofa", new_sofa_path %> </li>
	  			</div>
	        <% else %>
	          <li><%= link_to "Register", new_user_path %></li>
	          <li><%= link_to "Log In", new_session_path %></li>
	        <% end %>
  		</nav>
  	</header>
    <%= yield %>
  </body>
</html>
